body{
    font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
}

header a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content:space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(168, 167, 167);
    
}
.logoheader{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    color: white;  
}
.navlink{
    font-weight: bold;
    margin-right: 5px;
    margin-top: 15px;
    padding: 5px;
    color: black;
    transition: 1s;
}
.navlink:hover{
    transition: 1s;
    background-color: black;
    color: white;
}
.img_profil_header{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 7px;
    margin: 10px;
}
.container{
    margin-top: 80px;
    width: 95%;
    padding: 2%;
}